article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
    display: block;
}
body {
	margin:0;
  	padding-top: 40px;
  	background-color: #FFFFFF;
    color: #333333;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857;
    width:100%;
}
ul.web-info{
    list-style-type:none;
    text-align: right;
}
li{
    display:inline-block;
}
.web-info > li.git{
    display:inline-block;
    padding-left:20px;
}
.web-info > li.mail{
    display:inline-block;
    padding-left:200px;
}
.web-info > li.rights{
    display:inline-block;
    padding-left:400px;
    padding-right:0px;
}

.copyrights{
	text-align: right;
}
footer{
	float:bottom;
    margin-top:5px;
    padding-top:15px;
    font-family: sans-serif;
    background-color: #222222;
    color:#888888;
}
.contact{
	margin-top:25px;
	border-width:2px;
	border-color:black;

}
.contact-intro{
	padding-left:13px;
	font-family: sans-serif;

}
.row{
	padding-top:20px;
	padding-bottom:20px;
}
.header{
	padding-top:20px;
}
.page-header{
	border-bottom:1px transparent black;
    box-shadow:8px;
}
.navbar-inverse{
   background-color: #333333;

}
.navbar-brand{
    font-family:Veranda;
    font-size:33px;
    color:#ffffff;
}
.navbar-inverse .navbar-brand {
    color: rgba(190,200,300,100);
}
form{
    font-family:sans-serif;
    padding-top:15px;
}
.contact-intro{
    font-weight: bold;
    padding-top:20px;
}
.contact-form{
    border:2px solid rgba(77,81,84,1);
    
    margin-top: 10px;
    padding-bottom:8px;
}

